
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBRAX- Exchange</title>

    <link href="~/Content/css/sucessSolici/sucessSolici.css" rel="stylesheet" />
    <link href="~/Content/css/sucessSolici/estilSucc.css" rel="stylesheet" />

</head>
<body>

    <div class="ScriptTop">
        <div class="rt-container">
            <div class="col-rt-4" id="float-right">


            </div>
            <div class="col-rt-2">
                <ul>
                    <li><a href="CarteiraDigital">Voltar para a carteira</a></li>
                </ul>
            </div>
        </div>
    </div>

    <header class="ScriptHeader">
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="rt-heading">
                    <h1>Solicitação Enviada!</h1>
                    <p></p>
                    <p> Ela será atendida em até 15 dias!</p>
                    <p><b>Para exclusão de conta nossa equipe entrará em contato para confirmar as informações e solicitar que resgate todos seus ativos e deixe o saldo da sua conta zerado!</b></p>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="rt-container">
            <div class="col-rt-12">
                <div class="Scriptcontent">


                    <div id='card' class="animated fadeIn">
                        <div id='upper-side'>

                            </svg>
                            <h3 id='status'>
                                Sucesso
                            </h3>
                        </div>
                        <div id='lower-side'>
                            <p id='message'>
                                Sua solicitação foi enviada para nossa equipe!
                            </p>
                            <a href="Service" id="contBtn">Voltar</a>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>



</body>
</html>
