#main {
    padding: 30px 50px;
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-size: 1630px;
    /*background-position: absolute;*/
    background-repeat: no-repeat;
    background-image: url(/images/ibiraground.jpg);
    opacity: 10;
}
/*Cor da descrição no BANNER inicial*/
.name p:nth-child(1),.name .details{
	color:#fff;
	font-size: 16px;
} /*Título do banner*/
.name h1{
	font-family:Poppins;
	font-size: 40px;
	margin:0px;
	letter-spacing: 3px;
	color:#fff;
}
/* Botão ABRA SUA CONTA*/
.cv-btn{
	width:200px;
	height: 45px;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	align-items: center;
	background-color: #DC143C;
	color:#FFF;
} /* Ao deixar o botão do mouse em cima do botão*/
.cv-btn:hover{
	background-color: #FFF;
	border-radius: 20px;
	color: #DC143C;
	transition: all ease 0.5s;
}
/* Setinha no BANNER*/
.black-line {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
	bottom:0px;
	left: -3%;
	border-right: 1px solid  rgba(41,41,41,0.30);
}

.black-line::after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0 11px;
 border-color:  #292929 transparent transparent transparent;
  right: -.7em;
  bottom: -2px;
}
/*Redes Sociais*/
.social{
	position: absolute;
	left: 50px;
	bottom: 50px;
	display: flex;

}
.social a{
	margin: 6px 12px;

}
.social i{
	color:#fff;
	font-size: 14px;
}
.social a:hover i{
	color:#0F0F0F;
	transition: all ease 0.5s;
}
